  html{
background:gray;
}


header div{
width:100px;
height:100px;
background-color:black;
border:2px white solid;
float:right;
}
section{
border:2px black groove;
max-width:150px;

}
section h2{
	color:navy;

}
section p {
	font-family:cursive;
}