html{
background: url(http://cdn.superbwallpapers.com/wallpapers/world/san-diego-skyline-26895-1920x1080.jpg) center center fixed;
background-size:cover;
}

h1{
	position:center;
	color:#4ddbff;
	text-decoration: #ffffff underline;
}
img{
	height:200px;
	width:200px;
	border-radius:100px;
	border:2px black ridge;
	position: absolute;
	left: 1100px;
	top:20px;

}

p{
	color:#4ddbff;
}
#hi{
	color:#4ddbff;
}
a{
	text-decoration:none;
	color:#0000ff;
}
a:hover{
	color:white;
}

#clock{ 
	max-width:60px;
	border:2px gray groove;
	color:white;
	position:relative;
	left:1158px;

}
li{
	color:white;

}