html{
background: url(http://cdn.superbwallpapers.com/wallpapers/world/san-diego-skyline-26895-1920x1080.jpg) center center fixed;
background-size:cover;
background-repeat:no-repeat;

}


header h1{
	text-align: center;
	color:#4ddbff;
	text-decoration: #ffffff underline;
}
header img{
	max-width:12%;
	border-radius:100%;
	border:2px black ridge;
	display:block;
	margin:0 auto;
	opacity:.4;

}

img:hover{

	opacity:1;
}


a{
	text-decoration:none;
	color:#0000ff;
}
a:hover{
	color:white;
}

#clock{ 
	max-width:60px;
	border:2px gray groove;
	color:black;
	display:block;
	margin:0 auto; 

}
li{
	list-style:none;
}
nav ul{
	text-align: right;